/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	margin-top: 51px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.button-box{
	display: flex;
	justify-content: center;
}
.btn-appearance{
	min-width: 100px;
	margin-right: 10px;
	height: 37px;
	font-family: 'Syne';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: #ffffff;
}
.btn-appearance:hover{
	color: white;
	background-color: #1D6154;
}
.Appart{
	padding-right: 14px;
	padding-left: 14px;
}
.Hotels{
	padding-right: 9px;
	padding-left: 9px;
	margin-right: 0px;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
												/**  Balise PAGE CONNEXION  **/
.body-page-connection{
	background: #E5E5E5;
}

.box-form{
	display: flex;
	justify-content: center;
}

.form-connection{
	height: 700px;
}

.form-title{
	padding-top: 100px;
	margin-bottom: 37px;
	font-family: Syne;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	font-style: normal;
	text-align: center;
	color: #1D6154;
}

.form-label{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
}

.form-input{
	margin-top: 7px;
	margin-bottom: 30px;
	width: 379px;
	height: 51px;
	outline: none;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.paragraph-button{
	display: flex;
	text-align: center;
	justify-content: center;
}

.form-button-validation{
	border: none;
	margin-top: 7px;
	margin-bottom: 28px;
	padding-right: 39px;
	padding-left: 39px;
	height: 36px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	background: #1D6154;
	border-radius: 60px;
}

.form-forgot-password{
	display: flex;
	justify-content: center;
	margin-bottom: 355px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
	color: #3D3D3D;
	}

.footer-page-connection{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: #ffffff;
}

.footer-legal-notice{
	margin-right: 107px;
}

.portfolio-paragraph{
	position: relative;
	left: 65%;
	top: 25px	
}

.logout{
	display: none;
}

.header-edit-mod{
	color: #ffffff;
	background-color: black;
	display: flex;
	width: 100%;
	height: 59px;
	justify-content: center;
	align-items: center;
}

.button-edit-mod{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	background-color: black;
	border: none;
}

.button-edit-publish{
	width: 216px;
	height: 38px;
	border-radius: 60px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
}

.figure-paragraph{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin-top: 10px;
	margin-left: 60px;
	color: #000000;

}


.figure-edit-button{
	text-align: center;
	background-color: #FFFFFF;
	border: none;
	
}

.article-paragraph{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin-top: 10px;
	margin-left: 20px;
	color: #000000;
	order: 1;
}

.article-edit-button{
	text-align: center;
	background-color: #FFFFFF;
	border: none;
}

.portfolio-paragraph{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin-top: 10px;
	margin-left: 0px;
	color: #000000;
}

.portfolio-edit-button{
	text-align: center;
	background-color: #FFFFFF;
	border: none;
	
}

.modal { 										/*     modal     */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8) ;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-wrapper{
	width: 630px;
	height: 731px;
	max-width: calc(100vw - 30px);
	max-height: calc(100vh - 30px);
	overflow: auto;
	background-color: #FFFFFF;
	padding-right: 105px;
	padding-left: 105px;
	padding-top: 60px;
	padding-bottom: 0px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.box-cross-icon{
	position: absolute;
	top: 32px;
	right: 36px;
	background-color: #FFFFFF;
	border: none;
}

.title-modal{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}

.gallery-edit{
	width: 100%;
	margin-top: 46px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 7px;
	box-sizing: border-box;
	padding-bottom: 43px;
	margin-bottom: 38px;
	border-bottom: 1px solid #B3B3B3;
}

.modal-box-picture{
	height: 130px;
	position: relative;
}

.grid-picture{
	width: 78px;
	height: 104px;
}

.button-delete-works{
	background-color: #000000;
	position: absolute;
	top:10px;
	right: 10px;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: end;
}

.icon-cross{
	position: absolute;
	color: #FFFFFF;
	width: 9px;
	height: 9px;	
}

.button-add-picture{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	background: #1D6154;
	box-sizing: border-box;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	padding-left: 49px;
	padding-right: 49px;
	padding-top: 10px;
	padding-bottom: 9px;
	border: none;
	margin-bottom: 20px;
}

.delete-gallery{	
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #D65353;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
}

.tittle-edit{	
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}